.DS_Store
__pycache__
*.so
*.mo
/build
/cocoa/build
/env
/cocoa/autogen
/locale

/cocoa/*/Info.plist
/cocoa/*/build
/cocoa/*.lproj/*.strings
!/cocoa/Base.lproj/Localizable.strings

.vscode

# Xcode
*.xcworkspace
!default.xcworkspace
xcuserdata